@model RenovationDetailsViewModel



@if (Model.RenovationType == RenovationType.Locomotive)
{
    ViewBag.Title = $"Details for {Model.Locomotive.Model}";
    <div class="row">
        <div class="col-md-6">
            <h3>Old:</h3>
            <img src="@Model.Locomotive.Picture" class="img-responsive" width="630" height="auto">
            <p>Renovation Type : @Model.RenovationVolume</p>
            <p>(@Model.Locomotive.Year) @Model.Locomotive.Model @Model.Locomotive.Series </p>
            <p>@Model.Locomotive.Description</p>
        </div>
        <div class="col-md-6">
            <h3>Renovated:</h3>
            @if (Model.RenovatedPicture == null)
            {

                <img src="@Model.Locomotive.Picture" class="img-responsive" width="630" height="auto">
            }
            else
            {
                <img src="@Model.RenovatedPicture" class="img-responsive" width="630" height="auto">
            }
           
            @if (Model.IsApproved)
            {
                <p>Deadline : @Model.Deadline months</p>
                <p>Price : €@String.Format("{0:n}", @Model.Price)</p>
                <p>@Model.Comment</p>
            }
        </div>
    </div>
}
else if (Model.RenovationType == RenovationType.TrainCar)
{
    ViewBag.Title = $"Details for {Model.TrainCar.Model}";

    <div class="row">
        <div class="col-md-6">
            <h3>Old:</h3>
            <img src="@Model.TrainCar.Picture" class="img-responsive" width="630" height="auto">
            <p>Renovation Type : @Model.RenovationVolume</p>
            <p>(@Model.TrainCar.Year) @Model.TrainCar.Model @Model.TrainCar.Series </p>
            <p>@Model.TrainCar.Description</p>
        </div>
        <div class="col-md-6">
            @if (Model.RenovatedPicture == null)
            {

                <img src="@Model.TrainCar.Picture" class="img-responsive" width="630" height="auto">
            }
            else
            {
                <img src="@Model.RenovatedPicture" class="img-responsive" width="630" height="auto">
            }
            @if (Model.IsApproved)
            {
                <p>Deadline : @Model.Deadline months</p>
                <p>Price : €@String.Format("{0:n}", @Model.Price)</p>
                <p>@Model.Comment</p>
            }
        </div>
    </div>
}

<div class="row md-12 mb-6 mt-3">
    <div class="col-12">
        @if (!Model.IsPaid && Model.IsApproved && User.Identity.IsAuthenticated)
        {
            <a asp-area="" asp-controller="Renovations" asp-action="Pay" asp-route-id="@Model.Id" class="btn btn-warning float-right ml-3" style="width: 200px; height: auto;">Pay</a>
        }
        <a asp-area="" asp-controller="Renovations" asp-action="All" asp-route-id="" class="btn btn-danger ml-3" style="width: 200px; height: auto; float: right;">Back</a>
    </div>
</div>