@model LocomotiveViewModel
@{
    ViewBag.Title = $"More about {@Model.Model}";
}

<div class="row">

    <div class="col-md-6">
        <img src="@Model.Picture" class="img-responsive" alt="@Model.Model" width="630" height=auto>
    </div>

    <div class="col-md-6">
        <h2>(@Model.Year) @Model.Series / @Model.Model</h2>
        <br />
        <p>Engine : @Model.EngineType</p>
        <p>Top speed : @Model.TopSpeed kph</p>
        <p>Interrail : @Model.Interrail mm</p>
        <p>@Model.Description</p>
        <h2>Price : €@String.Format("{0:n}", @Model.Price)</h2>
        <br />
        <a asp-controller="Orders" asp-action="OrderLocomotive" asp-route-id="@Model.Id" class="btn btn-primary" style="width: 200px; height: auto;">Order Now</a>
        <a asp-area="" asp-controller="Locomotives" asp-action="All" asp-route-id="" class="btn btn-danger" style="width: 200px; height: auto;">Back</a>
    </div>
</div>
