@model OrderViewModel

@{
    var fullPrice = (Model.AdditionalInterrailTax + Model.AdditionalLuxuryLevelTax + Model.Train.Price) * Model.Count;
    var daysToDelivery = Math.Ceiling((Model.OrderDate.AddDays(Model.Count * 5) - DateTime.UtcNow).TotalDays);

}

<tr>
    <td scope="col">@Model.OrderDate</td>
    <td scope="col">@Model.Company</td>     
    <td scope="col">@Model.Id</td>
    <td scope="col">@Model.OrderType</td>
    <td scope="col">@Model.Train.Year</td>
    <td scope="col">@Model.Train.Model</td>
    <td scope="col">@Model.Train.Series</td>
    <td scope="col"></td>
    <td scope="col"></td>
    <td scope="col">@Model.Train.LuxuryLevel</td>
    <td scope="col">@Model.Count</td>
    <td scope="col">€@String.Format("{0:n}", @fullPrice)</td>
     <td scope="col">@(Model.IsPaid == true ? "Executed" : Model.IsApproved ? "Received" : "Pending")</td>

    <td scope="col">
        @if (!Model.IsApproved)
        {
            <a asp-area="Admin" asp-controller="Orders" asp-action="Approve" asp-route-id="@Model.Id" class="btn btn-warning float-right ml-3">Approve</a>
        }
    </td>
</tr>