@model OrderLocomotiveFormModel

@{
    ViewBag.Title = "Locomotives - Order Now";
}


<div class="row">
    <div class="col-md-4">
        <div class="card mb-3">
            <img class="card-img-top" src="@Model.Locomotive.Picture" alt="@Model.Locomotive.Model @Model.Locomotive.Series - @Model.Locomotive.Year (@Model.Locomotive.EngineType)">
            <div class="card-body text-center">
                <h5 class="card-title text-center">@Model.Locomotive.Year  @Model.Locomotive.Model @Model.Locomotive.Series (@Model.Locomotive.EngineType)</h5>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-3">
            <form method="post">

                <div class="form-group">
                    <label asp-for="InterrailLength">Interrail</label>
                    <select asp-for="InterrailLength" class="form-control">
                        @foreach (var interrail in @Model.Interrails)
                        {
                            <option value="@interrail.Length">@interrail.Length mm</option>
                        }
                    </select>
                    <span asp-validation-for="InterrailLength" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Count"></label>
                    <input asp-for="Count" class="form-control" placeholder="How many do you want to order?">
                    <span asp-validation-for="Count" class="small text-danger"></span>
                </div>
                <div class="form-group" hidden type="text">
                     <label asp-for="LocomotiveId"></label>
                    <input asp-for="LocomotiveId" class="form-control" value="@Model.Locomotive.Id">
                    <span asp-validation-for="LocomotiveId" class="small text-danger"></span>
                </div>
                <input class="btn btn-primary mt-3" type="submit" value="Purchase" />
            </form>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}